  <fieldset>
    <legend>Feed</legend>
    <div class='control-group'>
      <%= form.label :message %>
      <div class='controls'>
        <%= form.text_area :message, class: 'input-xxlarge', rows: 3 %>
      </div>
    </div>
    <div class='control-group'>
      <%= form.label :link %>
      <div class='controls'>
        <%= form.text_field :link, class: 'input-xxlarge' %>
      </div>
    </div>
    <div class='control-group'>
      <%= form.label :description %>
      <div class='controls'>
        <%= form.text_area :description, class: 'input-xxlarge', rows: 3 %>
      </div>
    </div>
    <div class='control-group'>
      <%= form.label :picture %>
      <div class='controls'>
        <%= form.text_field :picture, class: 'input-xxlarge' %>
      </div>
    </div>
    <div class='control-group'>
      <%= form.label :name %>
      <div class='controls'>
        <%= form.text_field :name, class: 'input-xxlarge' %>
      </div>
    </div>
  </fieldset>

