  <fieldset>
    <legend>Feed</legend>
    <div class='control-group'>
      <%= form.label :message %>
      <div class='controls'>
        <%= form.text_area :message, class: 'input-xxlarge', rows: 3 %>
      </div>
    </div>
    <div class='control-group'>
      <%= form.label :link %>
      <div class='controls'>
        <%= form.text_field :link, class: 'input-xxlarge' %>
      </div>
    </div>
    <div class='control-group'>
      <%= form.label :description %>
      <div class='controls'>
        <%= form.text_area :description, class: 'input-xxlarge', rows: 3 %>
      </div>
    </div>
    <div class='control-group'>
      <%= form.label :picture %>
      <div class='controls'>
        <%= form.text_field :picture, class: 'input-xxlarge' %>
        &nbsp;&nbsp;&nbsp;
        <div id='picture_dialog' class='modal' role='dialog' style='display:none'>
          <div class="modal-header">
            <h3>Picture</h3>
          </div>
          <div class="modal-body">
            <img id='pic'><img>
          </div>
        </div>
        <%= link_to 'Show', '#', onclick: "$('#pic').attr('src', $('input#feed_picture').attr('value')); $('#picture_dialog').modal({}); return false;" %>
      </div>
    </div>
    <div class='control-group'>
      <%= form.label :name %>
      <div class='controls'>
        <%= form.text_field :name, class: 'input-xxlarge' %>
      </div>
    </div>
  </fieldset>

