<%= form_for feed do |form| %>
  <% if feed.errors.any? %>
    <div class='alert alert-error'>
      <ul>
        <% item.errors.full_messages.each do |message| %><li><%= message %></li><% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Feed</legend>
    <div class='control-group'>
      <%= form.label :message %>
      <div class='controls'>
        <%= form.text_area :message, class: 'input-xxlarge', rows: 3 %>
      </div>
    </div>
    <div class='control-group'>
      <%= form.label :link %>
      <div class='controls'>
        <%= form.text_field :link, class: 'input-xxlarge' %>
      </div>
    </div>
    <div class='control-group'>
      <%= form.label :description %>
      <div class='controls'>
        <%= form.text_area :description, class: 'input-xxlarge', rows: 3 %>
      </div>
    </div>
    <div class='control-group'>
      <%= form.label :picture %>
      <div class='controls'>
        <%= form.text_field :picture, class: 'input-xxlarge' %>
      </div>
    </div>
    <div class='control-group'>
      <%= form.label :name %>
      <div class='controls'>
        <%= form.text_field :name, class: 'input-xxlarge' %>
      </div>
    </div>
    <div class='control-group'>
      <div class='controls'>
        <% feed.reserves.each_with_index do |reserve, i| %>
          <%= link_to raw(image_tag(reserve.authentication.profile_icon_url) + ' ' + reserve.authentication.service_type), '#', class: "btn #{'active' unless reserve.new_record?}", 'data-btn_id' => i, onclick: %Q($("a[data-btn_id='#{i}']").toggleClass('active'); $tmp=$("select[data-btn_id='#{i}']"); $tmp.attr('disabled', !$tmp.attr('disabled')); return false;) %>
          <%= fields_for 'reserves[]', reserve do |form| %>
            <%= form.datetime_select :posts_at, { use_month_numbers: true, prefix: 'reserves[]' }, class: 'span1', 'data-btn_id' => i %>
            <%= form.hidden_field :authentication_id %>
          <% end %>
        <% end %>
      </div>
    </div>
  </fieldset>
  <%= form.submit 'Create feed', class: 'btn btn-primary' %>
<% end %>
