<h1>Feeds#index</h1>
<p><%= link_to 'New', new_feed_path %></p>
<table class='table table-bordered'>
  <tr>
    <th width='20%'>Message</th>
    <th>Name</th>
    <th>Link</th>
    <th>Picture</th>
    <th width='20%'>Description</th>
    <th width='8%'>Show</th>
    <th width='8%'>Edit</th>
    <th width='8%'>Destroy</th>
  </tr>
  <% @feeds.each do |feed| %>
    <tr class='<%= 'error' if feed.reserves.empty? %>'>
      <td><%= simple_format(feed.message) %></td>
      <td><%= feed.name %></td>
      <td><%= link_to('link', feed.link) if feed.link.present? %></td>
      <td><%= image_tag(feed.picture) if feed.picture.present? %></td>
      <td><%= simple_format(feed.description) %></td>
      <td><%= link_to raw('<i class="icon-eye-open"></i>'), feed_path(feed) %></td>
      <td><%= link_to raw('<i class="icon-edit"></i>'), edit_feed_path(feed) %></td>
      <td><%= link_to raw('<i class="icon-remove"></i>'), feed_path(feed), method: :delete %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to 'Back to Dashboard', dashboard_path, class: 'btn' %></p>
