<h1>Feeds#new</h1>
<%= form_for @feed do |form| %>
  <%= render partial: 'errors', locals: { errors: @feed.errors } %>
  <%= render partial: 'form', locals: { form: form } %>
  <%= render partial: 'reserves', locals: { reserves: @feed.reserves } %>
  <%= form.submit 'Create feed', class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Back to list', feeds_path, class: 'btn' %>
