<h1>Feeds#new</h1>
<p><%= link_to 'List', feeds_path %><p>
<%= form_for @feed do |form| %>
  <%= render partial: 'errors', locals: { errors: @feed.errors } %>
  <%= render partial: 'form', locals: { form: form } %>
  <%= render partial: 'reserves', locals: { reserves: @feed.reserves } %>
  <%= form.submit 'Create feed', class: 'btn btn-primary' %>
<% end %>
