<h1>Feeds#show</h1>
<p>Find me in app/views/feeds/show.html.erb</p>
<p><%= link_to 'List', feeds_path %></p>
<table class='table table-bordered'>
  <tr>
    <th>Message</th>
    <td><%= @feed.message %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= @feed.name %></td>
  </tr>
  <tr>
    <th>Link</th>
    <td><%= @feed.link %></td>
  </tr>
  <tr>
    <th>Picture</th>
    <td><%= @feed.picture %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @feed.description %></td>
  </tr>
</table>
