<%= form_for feed, url: feed_reserves_path(feed), method: :post do |form| %>
    <% reserves.each_with_index do |reserve, i| %>
      <div class='control-group'>
        <div class='controls'>
          <%= link_to raw(image_tag(reserve.authentication.profile_icon_url) + ' ' + reserve.authentication.service_type), '#', class: "btn active", 'data-btn_id' => i, onclick: %Q($("a[data-btn_id='#{i}']").toggleClass('active'); $tmp=$("select[data-btn_id='#{i}']"); $tmp.attr('disabled', !$tmp.attr('disabled')); return false;) %>
          <%= fields_for 'reserves[]', reserve do |form| %>
            <%= form.datetime_select :posts_at, { use_month_numbers: true, prefix: 'reserves[]' }, class: 'span1', 'data-btn_id' => i %>
            <%= form.hidden_field :authentication_id %>
          <% end %>
        </div>
      </div>
    <% end %>
  </fieldset>
  <%= form.submit 'Create reserves', class: 'btn btn-primary' %>
<% end %>

