<h1>Authentications#index</h1>
<% if alert %>
  <div class='alert alert-error'><%= alert %></div>
<% end %>
<table class='table table-bordered'>
  <tr>
    <th width='20%'>Icon</th>
    <th width='10%'>Service type</th>
    <th width='20%'>UID</th>
    <th width='8%'>Destroy</th>
  </tr>
  <% current_user.authentications.each do |authentication| %>
    <tr>
      <td><%= image_tag(authentication.profile_icon_url, size: '48x48') %></td>
      <td><%= authentication.service_type %></td>
      <td><%= authentication.uid %></td>
      <td><%= link_to(raw("<i class='icon-remove'></i>"), authentication_path(id: authentication), method: :delete) %></td>
    </tr>
  <% end %>
</table>
<p>
<%= link_to 'Create Facebook Connection', authentications_path(service_type: :facebook), method: :post, class: 'btn btn-primary' %>
<%= link_to 'Create Twitter Connection', authentications_path(service_type: :twitter), method: :post, class: 'btn btn-primary' %>
</p>
<p><%= link_to 'Back to Dashboard', dashboard_path, class: 'btn' %></p>
